# Ignore everything by default
*

# Whitelist specific folders
!Beecrowd_*/

# Whitelist specific files within whitelisted directories
Beecrowd_*/**
!Beecrowd_*/program.cs
!Beecrowd_*/**/*.txt

# Ignore common unwanted files and directories
Beecrowd_*/bin/
Beecrowd_*/obj/
Beecrowd_*/Properties/
*.csproj
*.sln

# Ignore .vs directories and the .gitignore file itself
.vs/
.gitignore
